[2020-11-27 17:59] posva commented on #961
Thanks for the repro. Firebase 8 isn't supported yet and there is an open pull request for it and will be supported soon

[2020-11-27 17:59] #961 closed

[2020-12-02 17:26] Pipolaye commented on #685
I'm facing a similar issue:

I have a collection "cities" with multiple documents. Each document represent a city and the documentReference.id is the code name of the city.

My documents don't have an "id" field because I was planning on using the documentReference.id

However, when I'm binding the collection, the documentReference.id from the documents are lost (because the documents are stored i

[2020-12-08 08:20] mfissehaye commented on #947
Firebase 8 has been merged [here](https://github.com/vuejs/vuefire/pull/940). But the error is still there.

[2020-12-08 08:37] posva commented on #947
I couldn't reproduce on the example folders in vuefire 2 (3 is for Vue 3 and doesn't have support for firebase 8 yet). So if you manage to edit one of the examples to reproduce, I can take a look. Note vuexfire and vuefire use the same code underneath, so the bug is likely to appear in both

[2020-12-08 08:42] mfissehaye commented on #947
Oh I see. I was suggested to use version 2.3.4 to get the support for firebase 8, but that doesn't seem to be a valid version. The latest 2.2.5.

[2020-12-08 09:53] AjahnCharles commented on #947
Sorry, my fault. I tried to read the version from the commit log instead of my package.json.
(I believe) 2.2.5 is correct!

[2020-12-17 14:34] mfissehaye commented on #947
I am still getting error Uncaught TypeError: Cannot convert undefined or null to object with versions updated.

"vuefire": "^2.2.5",
"vuexfire": "^3.2.5"
Here is the vuexfire code

    const currentUser = this.$fire.auth.currentUser
    if (currentUser) {
      const uid = currentUser.uid
      const carts = this.$fire.firestore.collection(`users/${uid}/carts`)
      return await context.bindFires

[2020-12-17 16:50] ptrxyz commented on #898
I'm lining up with the others, any news on this? Would love to try it :)

[2020-12-17 17:07] posva commented on #898
Use the npm tag next

[2020-12-27 10:53] legislayer opened #978 "Wait does not wait for referenced documents"
I'm using `vuex-module-decorators` in combination with `vuexfire`. Everything works great and I'm really thankful for this library.

But I have one issue. I'm having the following store:

[code]

The document `db.collection(UserDocumentsPath).doc(uid)` contains an array with referenced documents

![image](https://user-images.githubusercontent.com/75792391/103169184-d4797f00-4839-11eb-97aa-4e2916a8

[2020-12-27 12:08] posva commented on #978
Hello, please follow the issue template and make sure to provide a boiled down reproduction. Open a new issue and read the provided instructions. Thank you!

[2020-12-27 12:08] #978 closed

[2020-12-27 14:57] legislayer commented on #683
I also have the same issue here -_-

[code]

In my serialize function everything looks good but once it is commited to the store, all typing informations are lost

[2021-01-03 00:42] cloudwheels commented on #153
Any updates to this?

[2021-01-03 05:33] azeem-r00t commented on #685
Has there been any update to this?

It is not just about a computed property. By not storing the collection as a map, I feel like we are not being true to how firestore stores these collections. In firestore, collection is not a list of documents rather it is a dictionary of ids mapped to specific documents. Because, this ends up being a generic list, it creates some interesting challenges when su

[2021-01-04 00:36] charles-allen commented on #685
FYI if you're using lodash:
[code]

Though obviously building a `bindMapRef()` into the framework will be more efficient (since VueFire/VuexFire must already be enumerating the snapshot). +1 :)

[2021-01-04 01:54] charles-allen commented on #153
@mfissehaye, @wonbyte, @cloudwheels - What additional update are you hoping for? Let's try to give Posva something specific to consider! Here's my understanding:

## Today

Sub-collections are separate collections. Every Firestore query is limited to a single collection<sup>1</sup>. The nested relationship doesn't change this. If you want a doc AND its children, that's 2 queries. Today (AFAIK) Vue

[2021-01-04 02:09] charles-allen commented on #685
_I have a weaker case, but I'd like to also throw it out for discussion..._

Consider I have another type that references assets, such as `comment: { assetId: 123, ... }` (i.e. many comments per asset). If I wanted to download comments related to **multiple assets** at once (e.g. a page showing multiple assets + their comments, or if I wanted to cache everything in Vuex), I'd probably want my comm

[2021-01-05 16:57] foufrix commented on #171
In case someone is looking for answer :
https://stackoverflow.com/questions/46259685/how-can-i-use-a-prop-as-part-of-the-firebase-path-using-vuefire

You need to create a hook :
[code]

[2021-01-06 01:03] charles-allen commented on #171
@foufrix - Err... the code in that StackOverflow answer is this, which is suspect is also wrong since shouldn't it be `firestore()` not `firebase()`???
[code]

[2021-01-08 15:50] wujekbogdan opened #988 "vuexfire: Add support for dynamic bindings and properties' paths"
### What problem is this solving

`bindFirestoreRef` expects the first parameter to be a string, so the state property we want to bind needs to be pre-defined and known at store initialisation.

In order to bind dynamic properties I do the following:

[code]

### Proposed solution

- When calling `bindFirestoreRef(property, ref);` create `state.property` if it doesn't exist
-  Add support for nest

[2021-01-08 16:16] wujekbogdan opened #989 "custom serializer causes Maximum call stack size exceeded error if the document contains a reference firestore.DocumentSnapshot"
### Reproduction

Define a serializer that returns an object containing a reference to `firestore.DocumentSnapshot`

[code]

### Expected behavior

I would expect `maxRefDepth : 0` to prevent `vuexfire` from binding nested document snapshots

### Actual behavior

I'm getting `Uncaught RangeError: Maximum call stack size exceeded`

### Additional information

I found a workaround:

[code]

[2021-01-12 15:11] GuasaPlay opened #990 "Vuexfire does not work with the new version of @nuxtjs/firebase ^7.3.0 module"
I am following this example of vuexfire to implement in my project but I think that with the new version of @nuxtjs/firebase the implementation with vuexfire has broken.

![image](https://user-images.githubusercontent.com/45466316/104332576-51555b80-54be-11eb-8b71-68a6ca79bdca.png)
![image](https://user-images.githubusercontent.com/45466316/104332597-56b2a600-54be-11eb-9c4b-b0209c9efb92.png)

Any

[2021-01-12 16:36] posva commented on #990
You should open the issue on n that repository. Also please don't discard the issue template

[2021-01-12 16:37] #990 closed

[2021-01-21 21:42] anubhavkamath commented on #426
I know this issue is closed and it's over a year later but I'm having the exact same problem. What is the solution to this? Not use quasar? I don't know how quasar would be the issue.

[2021-01-22 15:02] adamkpurdy commented on #426
@anubhavkamath I believe how I restructured my Quasar application code solved this. Due to the time and looking into the context of this example I can not remember specifics on where this was a problem with old UX. This is example was a boiled-down version of a project I was working on. Feel free to reach out to me on Quasar's Discord server(@Adam P) if you have specific questions about your UX an

[2021-01-23 02:37] anubhavkamath commented on #426
Thanks. I tried messaging you on discord. but it says you have to add me as a friend. I sent a message directed to you on the introductions channel though. My handle is Anubhav.
Anu
    On Friday, January 22, 2021, 09:02:32 AM CST, Adam Purdy <notifications@github.com> wrote:

@anubhavkamath I believe how I restructured my Quasar application code solved this. Due to the time and looking into the c

[2021-01-30 21:50] CalebKester opened #999 "vuexfire@next not binding collections"
### Versions
    "firebase": "^8.2.4",
    "vue": "^3.0.5",
    "vue-router": "^4.0.3",
    "vuefire": "^3.0.0-alpha.2",
    "vuex": "^4.0.0-rc.2",
    "vuexfire": "^3.2.0-alpha.0"

### Reproduction

https://codesandbox.io/s/little-glade-n494s?file=/src/store.js:588-593

### Steps to reproduce the behavior

1. Go to https://codesandbox.io/s/little-glade-n494s?file=/src/store.js:588-593
2. Click on

[2021-01-31 21:20] posva commented on #999
in the next version of vuefire there is no need of vuexfire (in fact the version you are using is an outdated version of vuexfire). But there isn't yet all the necessary imports to make things work with Vuex 4 (with mutations). The `vuexfireMutations` and `firestoreAction()`/`rtdbAction()` still need to be exposed

However, the existing version works with any `Ref` with `firestoreBind()` and sholu

[2021-02-01 02:29] CalebKester commented on #999
Thanks @posva . I'll look forward to seeing the formal version of vuefire come out for vue3. I tried poking around https://github.com/vuejs/vuefire/blob/v3/examples/firestore.html#L73 but was coming up with `DependencyNotFoundError
Could not find dependency: '@vue/composition-api' relative to '/node_modules/vue-demi/lib/v2/index.esm.js'` https://codesandbox.io/s/kind-paper-qcqh9?file=/src/main.js

[2021-02-08 16:31] SKFrozenCloud opened #1006 "Global Binding"
### What problem is this solving

I want to be able to dispatch bind once then if another page dispatches bind again it won't unbind -> bind -> refetch whole db.
Check if state is already bound to not refetch whole DB each time I call bind (because I call it in another page in Nuxt JS).

### Proposed solution

An option for the `bindFirestoreRef()` / `bindFirebaseRef` function that checks if alrea

[2021-02-08 17:24] Mxkkxa commented on #999
I need this today. Damn I have no other choice but to eliminate Vuexfire and do things manually it seems. I hope this gets fixed asap, so I can add into the project in future before I have to build more.

[2021-02-12 14:28] wujekbogdan commented on #989
It turned out that I wasn't a bug in `vuexfire`. It was a bug in Firebase (https://github.com/firebase/firebase-js-sdk/issues/4258) that's fixed in the `8.2.5` release.

[2021-02-12 14:28] #989 closed

[2021-02-21 21:10] Kimeiga commented on #39
Hey all! Sorry I might be missing something but when trying this I am just left with an empty object:

[code]

Is there a different way that we are supposed to be getting the data when its coming from `firebase()`?

[2021-02-21 21:14] Kimeiga commented on #39
Ok I think what fixed it was to use the following instead of `firebase()`
[code]

[2021-02-23 21:48] wujekbogdan opened #1025 "Sometimes a single call to bindFirestoreRef causes the state to be set twice"
### Reproduction

https://codesandbox.io/s/nameless-flower-b6puw?file=/src/App.vue

https://user-images.githubusercontent.com/533954/108911447-2c0c4f00-761f-11eb-96cb-8dbd088efc86.mov

### Steps to reproduce the behavior

1. Go to https://codesandbox.io/s/nameless-flower-b6puw?file=/src/App.vue
2. Open the console
3. Keep on clicking on *"Get ${num} todos" buttons*

### Expected behavior

Messages

[2021-03-02 21:41] holmesadrianh opened #1028 "Manipulate data before rendering"
Hi there,

I would like to manipulate the data before rendering. The following seems to render the data in realtime, which is ideal, however, I would like to group the returned data in very specific ways:

`firestore() {
    const userId = firebase.auth().currentUser.uid;
    return {
      data: db.collection("users").doc(userId).collection("entries"),
    };
  },`

Is there a way to manipulate t

[2021-03-02 22:04] posva commented on #1028
See https://vuefire.vuejs.org/api/vuefire.html#firestoreplugin

[2021-03-02 22:04] #1028 closed

[2021-03-05 07:56] TomHeckl opened #1032 "How to implement vuexfire in a vue.js CDN project (without packer)"
Hi,
do you have an example / tutorial how to intgrate vuexfire in an app without webpacker?

Thank you
Tom

[2021-03-05 23:30] #1032 closed

[2021-03-05 23:34] TomHeckl opened #1033 "Vuexfire doesn´t update state"
I have some problems with vuexfire updating the binded state-var.
I can see the changes in the database at the VUEX console in the Target-Array. It is up to date, but the changes are not provided to the state-var.
What´s wrong with my code?
`
const vuexfire_store = new Vuex.Store({
	strict: true,
    state:
    {
		fahrschueler: [],
    },
	modules: {

	},
    mutations: Vuexfire.vuexfireMutations

[2021-03-06 08:06] #1033 closed

[2021-03-11 11:46] spencercap commented on #999
@posva thanks for starting on the vue 3 version!
FYI `firestoreUnbind` (tested for a single document) doesnt work either, it remains bound.

[2021-03-12 14:37] Yewla opened #1038 "Cant get live subscription of database ref with payload"
https://stackoverflow.com/questions/66589021/vuefire-data-not-subscribing-to-changes

[2021-03-20 15:28] cookmscott commented on #605
@LaundroMat did you find a solution? If you did, would be nice to document here since this is first hit on google for "vuefire pagination"

[2021-04-06 08:11] lexxwork commented on #999
Hey,
 I have made small investigation, and found that while binding to array at [rtdbBindAsArray](https://github.com/vuejs/vuefire/blob/c781f6a98ef9216246ef4b8e8ff7cf5f4675e24c/packages/%40posva/vuefire-core/src/rtdb/index.ts#L78) every time we use the local var
[code]
And every time we react on firebase event, we pass that variable as 'target' parameter:
[code]
Instead we should send
- a state as

[2021-04-06 11:18] lexxwork commented on #999
Hey,
 I have made small investigation debugging dist/viexfire.esm.js, and found that while binding to array at [rtdbBindAsArray](https://github.com/vuejs/vuefire/blob/c781f6a98ef9216246ef4b8e8ff7cf5f4675e24c/packages/%40posva/vuefire-core/src/rtdb/index.ts#L78) every time we use the local var
[code]
And every time we react on firebase event, we pass that variable as 'target' parameter:
[code]
Inst

[2021-04-28 17:25] kiontupper opened #1072 "[v3] Peer dependency conflict using Vue 3 and NPM 7"
### Reproduction

Step 1: Create a new folder with the following `package.json`:

[code]

Step 2: Make sure NPM 7 is installed (in my case, `7.10.0`)
Step 2: `npm i`

### Expected behavior

Expected this to install successfully.

### Actual behavior

NPM 7 now treats peer dependencies similar to normal dependencies. Specifically, the `@vue/composition-api` peer dependency is incompatible with Vue

[2021-05-14 04:25] ServiceSector commented on #670
What worked for me was to wrap the element in JSON.parse(JSON.stringify(InsertElementHere))

[2021-05-14 18:17] scriptPilot commented on #999
Is there any update on Vue 3 / Vuex 4 support?

[2021-05-16 21:11] Berkmann18 commented on #1072
Same issue here with `vue@3.0.11` on an Ionic Vue project.
[code]

[2021-05-20 17:51] gqoew opened #1088 "Vue3 / Firebase 8 support"
Hello 👋

First, let me thank you for building this amazing library. Vuefire is great

I see in the README file that you are working on the support for Vue 3 / Composition API and Firebase 8.
Can you provide us with more details on a potential release date?

Thanks!

[2021-05-28 08:08] jaytonic commented on #1088
I've the same issue, I've to start soon a new project where the backend has to be firebase, I wish I could use composition API. Any idea this will released?

[2021-05-28 09:57] sooand commented on #988
@wujekbogdan Have you found an alternative solution you use, until this feature (might) get implemented?

[2021-06-07 16:57] mhirsch commented on #1088
`npm` is now reporting vulnerabilities in the Firebase 7 dependency chain

[code]

Is there a place to track the status of Firebase 8 support? Is it possible to split it from Vue 3, if that's the issue? Changes from Firebase 7 to 8 are not huge. Mostly around module type.

[2021-06-07 17:17] jaytonic commented on #1088
@mhirsch and @gqoew Checking the commit history, I'm a bit concerned that vuefire seems to be unmaintained since the end of 2020 😭

[2021-06-07 17:58] posva commented on #1088
The v3 of Vuefire should work with Vue 2/3 (Composition API) and Firebase 8: https://github.com/vuejs/vuefire/tree/v3

I wish I could give this package more time but the truth is I've never received funding from any company using Vuefire, nor Firebase/Google so I currently prioritize the other packages I help with: Vue, Vue Router, vitepress, pinia, etc
I will likely be able to work more on Vuefir

[2021-06-07 17:58] #1088 closed

[2021-06-07 18:13] jaytonic commented on #1088
@posva I'm sorry, I'm quite new to this ecosystem, but is this something I can use through NPM? Or it's some kind of manual install?

[2021-06-07 20:01] Chippd commented on #608
This is the second time I've arrived here looking for this answer, so for future Chris, here you go, past Chris got it working.

[code]

[2021-06-07 20:04] posva commented on #1088
You can use it with `npm install vuefire@next`. You will need to check the examples as I haven't been able to update the docs yet https://github.com/vuejs/vuefire/blob/v3/examples/firestore.html

[2021-06-07 20:42] mhirsch commented on #1088
Seems a little harsh to mark my comment as spam -- there's dependency rot on the main published version of the package. How is pointing that out spam?

[2021-06-08 07:17] fmikaelian commented on #1088
Hi @posva

Thank you for updating us on this, I understand your situation

Let us know if it evolves this summer

Best

[2021-06-09 08:40] web2033 commented on #1088
Maybe skip v8 and go with v9 then?
https://firebase.google.com/docs/web/modular-upgrade

The fully modularized version 9 has these advantages over earlier versions:

- Version 9 enables a dramatically reduced app size. It adopts the modern JavaScript Module format, allowing for "tree shaking" practices in which you import only the artifacts your app needs. Depending on your app, tree-shaking with

[2021-06-18 20:55] dosstx commented on #153
@charles-allen How does your above example work for related comments when a user replies to a comment? Do you nest replied comments under the parent comment? How deep do you  nest for additional responses to that replied comment? HOpe this makes sense...

[2021-06-18 20:57] ramsrib commented on #1088
v9 doesn't support [firebase-ui](https://github.com/firebase/firebaseui-web/issues/837) yet, so that might be a blocker.

[2021-06-19 03:23] charles-allen commented on #153
I think this is a database design problem, not a VueFire one. AFAIK, VueFire mirrors the standard Firebase SDK. If you need multiple queries through the SDK, you need multiple binds with VueFire. If your db design is optimized for the standard SDK, it's equally optimized for VueFire (which binds to the exact same query references).

Your database design needs to be driven by your business, UX, and

[2021-06-20 16:29] bhaskar-nair2 commented on #145
Well, hello there

[2021-06-30 12:22] wujekbogdan opened #1123 "`firestoreBind` creates a `value` property"
### Reproduction

[code]

### Steps to reproduce the behavior

1. Use `firestoreBind()` to bind a document to a store property.
2. The document is bound as expected

### Expected behavior

The document should be bound directly to the property passed as a first parameter of the `firestoreBind` function

### Actual behavior

A new `value` property is created under the property to which the document

[2021-06-30 12:50] posva commented on #1123
You need to do `firestoreBind(toRef(this.$state, 'user'), userDocRef)`

[2021-06-30 13:26] wujekbogdan commented on #1123
Thanks! So we can close this ticket - it's clearly not a bug.

[2021-06-30 13:26] #1123 closed

[2021-07-05 13:11] sceee opened #1128 "Compatibility with Firebase Modular JS SDK (v9)"
### What problem is this solving

Firebase recently introduced the [modular web SDK](https://firebase.google.com/docs/web/modular-upgrade), currently in beta.
One of its goals is to reduce the footprint of the lib allowing tree shaking. Therefore, a lot of users might want to benefit from using it.

Using vuexfire does currently not seem to be working with the new Firebase modular SDK because of t

[2021-07-08 07:35] sceee commented on #1128
@posva I would be happy to help with the migration to the modular Firebase 9 SDK but unfortunately, I don't really understand how to build the projects (I'm not really into lerna & rollup).

Is there anywhere some hint on how to build & test the whole repository?
If so I would be happy to create a PR.

[2021-07-08 08:11] posva commented on #1128
@sceee the branch that needs to be updated is https://github.com/vuejs/vuefire/tree/v3 which is the next version of Vuefire that works for both Vue 2 and Vue 3. I haven't checked the breaking changes aside from modules from 8 to 9 but **if that's the only breaking change**, then it's fine to upgrade it.

Tests are currently failing after the upgrade to firebase 8 but it's no longer a lerna monorep

[2021-07-08 08:29] sceee commented on #1128
@posva thank for the info - I will have a look and see if I can prepare a proposed upgrade.

I think there's not yet a changelog available for Firebase SDK v9 (as it's also still in Beta) but according to my information, this seems to be the only change.
There are some slight limitations at the moment, though, but according to my understanding they are not relevant to vuefire: https://firebase.goo

[2021-07-08 08:46] sceee commented on #1128
I just noticed that `firebase-mock` is used for the tests which is already a blocker as it depends on the namespaced Firebase SDK (v8).

I anyway guess `firebase-mock` is kind of obsolete and it will probably not continue to be maintained well in the future as there is the official Firebase emulator suite now for local testing (which works way better IMHO).

So it would probably be better (and req

[2021-07-08 09:33] posva commented on #1128
Yes, feel free to do it

[2021-07-09 14:33] sceee commented on #1128
I pushed some work in progress here: https://github.com/sceee/vuefire/tree/firebase-emulators
and created an Action that executes the tests here: https://github.com/sceee/vuefire/actions/workflows/test.yml

Still, a lot of tests are failing but it's getting better.
I hope I can get all of the more _fancy_ tests to work with the new setup.

[2021-07-11 18:49] sceee commented on #1128
@posva I fixed some more tests (it's not down to ~20 failing) but now I'm getting to a point where I'm getting stuck.

I think there are a few groups of issues left:
* Timing issues (`target.items.value` did not yet update after a `item.set` (DB update) call) - I introduced sleeps here which is definitely not ideal but solved a lot of them. Still, some are sometimes failing. I also discovered some

[2021-07-13 14:27] posva commented on #1128
I will take a proper look in a few weeks, after some Vue 3 related releases, and try to give you a hand. Have you published your code somewhere?

[2021-07-14 11:34] sceee commented on #1128
Thanks @posva . Yeah, the code is published here https://github.com/sceee/vuefire/tree/firebase-emulators and the latest action run always shows the up to date state.

[2021-07-14 15:52] pmalbu commented on #955
Has any progress been made on this? It seems like a fairly easy feature to add. It would be really nice to get rid of my `v-if="field.created"` logic 🙏🏻
I would love to make the change myself and submit a PR but I'm concerned I'd screw something else up in the package... 🙈

[2021-07-17 03:56] luzdealba opened #1136 "Roadmap"
### What problem is this solving

I find myself checking this repo from time to time to check if either support for Vue 3 has been released, or for related updates (maybe there's a roadmap somewhere and I missed it, if so please point me in the right direction).

### Proposed solution

I know I can follow releases but that still doesn't tell me how long (approximately) for that given release, whic

[2021-07-18 09:40] vuvgaG opened #1137 "Issue displaying data on update"
### Reproduction

Using vuecli service and typescript i'm unable to load data.

![image](https://user-images.githubusercontent.com/75189112/126062495-1804bbe1-cd54-4ee7-bbdf-efc9aa57671c.png)

### Expected behavior

I expect that the data would be loaded and the DOM re rendered to display the data

### Actual behavior

- The promise returns with the data and sets the state.
- The component trigger

[2021-07-18 23:54] vuvgaG commented on #1033
same

[2021-07-19 09:17] posva commented on #1128
Thanks a lot @sceee !

I will get to this probably after a stable release on Pinia with Vue 3.2

[2021-07-26 10:16] dosstx commented on #1128
Thank you both for the work on migrating to v9. Even though v9 is still beta, I am loving it. The API is fantastic and everything is much faster. Just wanted to say keep up the great work!

[2021-07-27 09:11] posva commented on #1136
Hello, I'm glad you like Vuefire. Currently, Vue 3 support is on the `next` branch. I haven't been able to dedicate any more time to it because I'm busy with other libraries in Vue Ecosystem like the router, vue, pinia, etc, and the rest of my time on freelance gigs to live. After more than 4 years of maintaining Vuefire, I haven't received much financial support for it. A sponsor of the project (

[2021-07-28 10:05] luzdealba commented on #1136
Hey @posva , I get it--btw, many thanks for the update.

[2021-08-09 10:41] bangdragon commented on #1128
How is the progress. I would love to use this library for firebase v9 because it has tree shaking.
Thanks

[2021-08-20 13:32] kimamil opened #1155 "Not receiving all the records in my firestore with vuefire declarative binding"
### Reproduction

I am currently developing an app locally (in a Docker container). In this app I have a component that is using vuefire declarative binding for one of my Firestore collections and properly delivers 4 entries from the database:

`<template>
	<div>
		<div class="uk-section-muted">
			<div class="uk-container">
				<h1>Knowledge</h1>
				<p>Found a total of <strong>{{ records.length

[2021-08-30 04:00] bangdragon commented on #1128
Firebase v9 has been released, hope you guys release vuexfire soon. Thanks

[2021-09-09 00:17] sammypanda commented on #932
hiya, is this still a problem? I'm confused there are no comments :broken_heart:

[2021-09-09 09:04] sammypanda opened #1162 "maxRefDepth applying to new items"
### What problem is this solving

When getting refs as objects using maxRefDepth, new refs that are added to an array are not treated the same. Instead are just stored as a string that can be used to fetch the reference.

### Proposed solution

Have maxRefDepth also automatically convert the expected ref fields for newly added items.

### Describe alternatives you've considered

I've considered tr

[2021-09-12 09:55] mfissehaye commented on #539
Do you plan to add support for listening document deletions?

[2021-09-23 00:07] trevorparscal commented on #281
I came here to suggest this, but found it's been suggested. It seems like it wouldn't be very hard to do - I may even give it a shot. But before I dig in, does anyone know if this is already being considered or worked on for the next version?

[2021-09-28 08:39] kraeki opened #1172 "Support binding to array for nested states"
### What problem is this solving
It allows to decide whether a a firebase field is bound as object or array also for nested states.

Today vuexfire will bind as object if the vuex state is initialiezed with `{}`. If its initialized with `[]`, then vuexfire will bind the firebase reference as array. The problem is that this works only for top level states. With this issue it would be great to get t

[2021-10-01 11:45] saibhavateja1 opened #1173 "Support for async serialzer in vue firestore plugin"
### What problem is this solving

Serializers ([https://vuefire.vuejs.org/api/vuefire.html#rtdbplugin](https://vuefire.vuejs.org/api/vuefire.html#rtdbplugin)) in firestore plugin help with transforming data in a binded firestore ref. However these serializers don't seem to support async execution.

### Proposed solution

Analyzing a serializer and awaiting it's execution in case of async should ad

[2021-10-03 09:01] lnatu commented on #243
Hello @posva
I have an issue with vuexfire,
`bindPosts: firestoreAction(({ bindFirestoreRef }) =>
      bindFirestoreRef(
        'posts',
        db
          .collection('post-feed')
          .where('type', '==', PostType.POST)
          .where('isDeleted', '==', false)
          .orderBy('createdAt', 'desc'),
      ),
    ),`
   I use this code to get firestore data, It worked fine but when I

[2021-10-03 09:13] lnatu opened #1176 "Collection documents became duplicate when adding new document"
### Steps to reproduce the behavior

1. Use vuexfire to bind firestore collection and show it to the UI
2. Have a function to add a document to the same collection

### Expected behavior

The created document appear in the UI

### Actual behavior

The created document appear in the UI and the other document turned into the new created document

### Additional information

Code to get the collectio

[2021-10-03 14:58] kossmokvin commented on #898
Any news for  Vue 3 support?
Thank you in advance

[2021-10-16 09:28] gabrielnvian commented on #1128
What's the progress on this?

[2021-10-22 11:04] JenuelDev opened #1183 "Vue 3 Support"
### What problem is this solving

The problem is I am using Vue 3, I wanted to use the library but it seems it only supports vue 3

### Proposed solution

To be able to work with vue 3

[2021-10-22 12:10] #1183 closed, assigned to nobody

[2021-10-26 12:50] MVTKVM opened #1186 "Vuefire bind generating "Duplicate keys detected""

[2021-11-05 17:47] wujekbogdan opened #1191 "`id` field added by the default `serialize` function is not enumerable"
### Reproduction

- Bind a document or a collection with
- Do not use a custom `serialize` function

### Expected behavior

- `id` field is added to each document if it does not exist in Firestore.
- `id` field is enumerable.

### Actual behavior

`id` field is added but it's not enumerable.

Because of this if we do:

[code]
then `myData.id === undefined`

### Additional information

It happens b

[2021-11-05 18:00] wujekbogdan commented on #1191
I've just found that this is not a bug - it's intentional. Let's not close this PR though - please treat it as a feature request for the docs. It would be great if this information was clear in the docs.

[2021-11-05 18:57] posva commented on #1191
Feel free to open a PR to the docs 👍

[2021-11-05 18:57] #1191 closed

[2021-11-07 01:55] aniket-6234 commented on #670
Yeah, I also get this type of error, but then I read firebase documentation and I get an idea about it. It's just a declaration problem. Initialize elements in a proper way.

[2021-11-10 01:57] BenJackGill commented on #1072
I'm having the same problem

[2021-11-25 10:27] shadhin-msa commented on #999
@posva going through same problem,
is there any solution / update or anything

[2021-12-10 07:12] nhendriksen commented on #1136
Hi - great respect for your support to the Vue ecosystem. What level of sponsorship do you need to dedicate more time to Vue3 + Firebase 9 and keep up with future releases?

Best regards, Nikolaj

[2021-12-30 08:37] #1186 closed

[2022-01-10 08:24] Hibrix-net commented on #898
@posva Any news here?
Many thanks.

[2022-01-10 10:03] posva commented on #898
https://github.com/vuejs/vuefire/issues/898#issuecomment-747572404

[2022-01-13 20:35] Hibrix-net commented on #999
Hi all,

It seems that the developer lacks of enough funding to support this project as far as I read from other issues, but at the same time there's an urgent need from the community to at least make Vuexfire to work with Vuex 4 and of course continue suporting this massively used solution.

I believe many people have the same problem as me: an entire application based on Vuexfire that cannot be

[2022-01-19 14:33] sceee commented on #1128
To all asking/waiting for progress on this - I would really appreciate to get this working but unfortunately, I [got stuck while making the tests work as mentioned here](https://github.com/vuejs/vuefire/issues/1128#issuecomment-877844915).

@posva mentioned in some of the comments above he might be able to find some time to help check the remaining (currently failing) tests.
I will also try again

[2022-01-22 14:31] Hibrix-net commented on #999
I just found a fork here that supports vuex 4 / vue 3
http://vuejscomponent.com/xquick-codevuexfire

I tried and that seems to work well.

Regards,

[2022-01-25 05:30] shadhin-msa commented on #999
Awesome! its working  thank you @Hibrix-net  for sharing

[2022-02-10 06:47] tohagan commented on #1136
Bonjour Eduardo (@posva) ...  I've started to develop a library to fill the shoes of VueFire / VuexFire for Vue3 / Firestore v9 with support for Pinia. It's a complete rethink / rewrite for TypeScript & Vue 3. I plan to support the same features (and a few more). It's currently in a private GitHub project until the testing is all working. Still needs lots docs & demos. I was keen to add an acknowl

[2022-02-10 09:28] liquidvisual commented on #1136
@tohagan This sounds great! Not having a V3 compatible Vuexfire makes it difficult to migrate our project. I was considering using [Vue Use](https://vueuse.org/firebase/useFirestore/) in the short term, but I'm not even sure if it'll easily plug into Pinia? Best of luck with your library! 🔥

[2022-02-11 06:48] tohagan commented on #1136
Initial MVP would be Firestore only, covers VueFire/VuexFire features in one library, type-safe objects (TypeScript) if you care, tree-shaking and a few nice performance improvements.

[2022-02-13 07:15] khteh opened #1225 "vuefire@next doesn't work on Vue 3"
### Reproduction
[code]
Use one of the examples at https://github.com/vuejs/vuefire/tree/master/packages/vuefire/examples to boil down and reproduce the problem. If no reproduction is provided and the information is not enough to reproduce the problem, we won't be able to give it a look

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

#

[2022-02-13 07:45] khteh commented on #1072
https://github.com/vuejs/vuefire/issues/1225

[2022-02-13 13:52] posva commented on #1225
Duplicate of  #1072

[2022-02-13 13:52] #1225 closed, assigned to nobody

[2022-02-13 23:40] khteh commented on #1072
Any update on this almost one year on?

[2022-02-15 11:10] kraeki commented on #203
Hi all, nuxt `2.12` introduced a new `fetch()` hook that triggers on the server-side and on the client-side and has access to component/page data. [Specs](https://nuxtjs.org/docs/components-glossary/fetch/)

IMHO `fetch()` is the best place to bind vuexfire . Would you agree?
However I encounter this issue:
[code]

Here how I use `trainings` (computed property) to print list of trainings inside `<

[2022-02-17 16:24] wujekbogdan commented on #1136
Is `vuefire` discontinued?

We're going to migrate to our application from Vuex to Pinia and I'm not sure what's the best way to implement Firestore bindings. Shall I use `vuefire@next` [as I used it here](https://github.com/vuejs/vuefire/issues/1123) having in mind that the official release is going to happen at some point or shall I rather go for [`@vueuse/firebase`](https://vueuse.org/firebase/

[2022-02-20 06:04] khteh commented on #1072
https://github.com/vuejs/vuefire/issues/898

[2022-02-20 06:04] khteh commented on #1225
https://github.com/vuejs/vuefire/issues/898

[2022-03-01 17:37] luc122c commented on #1128
Hi, I'm really looking forward to this. Vuefire looks like a fantastic solution, but since Vue3 / Vuex 4 / Firebase 9 are the latest stable versions, I'm not keen on adding it to current projects.

Do you have a rough estimate of how much work is left to complete?
How can the community help / What's the best way to test this for you?
Could a branch and/or npm tag be set up for this work?

[2022-03-02 16:05] sceee commented on #1128
@luc122c it's not so much left, see here: https://github.com/sceee/vuefire/runs/5158585563?check_suite_focus=true
Current state is something like this: `Tests:       17 failed, 7 skipped, 135 passed, 159 total`

Mainly this is due to tests failing cause the `spyUnbind` no longer works as it did in the past as I wrote in the [previous comment](https://github.com/vuejs/vuefire/issues/1128#issuecomme

[2022-03-02 18:10] posva commented on #1128
Still needs to be confirmed but I should be able to spend time bringing v9 support to VueFire as well as support for other Firebase packages. Stay tuned! Thanks a lot for the help @sceee, I will keep you updated with an alternative way to spy on unsubscriptions as it would be important to be able to not use `await delay(x)`.

[2022-03-08 01:00] tehkokhow commented on #1072
@kiontupper Your suggestion seems good but doesn't work for application using Quasar framework since the Vue package dependency is brought in by Quasar but not the application.

[2022-03-19 07:55] khteh commented on #1072
When will we have the release with the fix?

[2022-03-19 08:15] khteh opened #1230 "Is this project dead? When can we expect release with Vue 3 support?"

[2022-03-19 11:44] posva commented on #1230
- No
- There is already one at `vuefire@next`

There is more to come https://github.com/vuejs/vuefire/issues/1128#issuecomment-1057229258

[2022-03-19 11:44] #1230 closed

[2022-03-20 05:12] khteh opened #1231 "Is this project dead? When can we expect a WORKING release with Vue 3 support?"
@posva You just keep closing many of these issues here and you know that `vuefire@next` does NOT work because we can NOT install it with Vue 3! All active branches are `dependenbots`. The rest are stale branches.

https://github.com/vuejs/vuefire/issues/1072
https://github.com/vuejs/vuefire/issues/1225
https://github.com/vuejs/vuefire/issues/1230
https://github.com/vuejs/vuefire/issues/898

[2022-03-20 10:24] posva commented on #1231
Duplicate of https://github.com/vuejs/vuefire/issues/1230

[2022-03-20 10:24] #1231 closed

[2022-03-20 10:25] posva commented on #1231
Don't open a spam issue again or we will have to block you.

[2022-04-28 10:21] JuliusJacobitz commented on #1128
Looking forward for an update on this topic :) Thanks for the great work!

[2022-04-28 21:37] luzdealba commented on #1136
I've found that for all intends and purposes (essentially getting real time updates from documents and entire collections) the reactive bindings provided by [useFirestore](https://vueuse.org/firebase/usefirestore/) work like a breeze.  They're both, Vue 2 and Vue 3 compatible with the very same package ([@vueuse/firebase](https://www.npmjs.com/package/@vueuse/firebase), which is [actively mantaine

[2022-04-29 01:41] liquidvisual commented on #1136
@wujekbogdan What lib did you end up going with? Also how did you go with integrating with Pinia?

[2022-04-29 06:05] wujekbogdan commented on #1136
We're still using Vuex in that project where we planned Pinia migration, but If I were to choose a solution I would probably go for `@vueuse/firebase` as it's the only actively maintained package that provides Firestore bindings for Vue.

But that's just a feeling, I didn't test it enough to have a strong opinion.

[2022-04-29 07:02] Hibrix-net commented on #1136
Probably not as actively maintained as @vueuse/firebase but this will avoid the refactors if you are already on Vuexfire: https://github.com/vuejs/vuefire/issues/999#issuecomment-1019281684

I use it and it works like a charm.

[2022-05-02 10:38] ptc-tonyo commented on #1136
The problem with `@vueuse/firebase` is that for queries and collections, it replaces the entire bound array for every snapshot update. This can kill your rendering performance as the array size grows.  See [useFirestore/index.ts line 94](https://github.com/vueuse/vueuse/blob/ec3383cd9e1de3b1955ed71d1c114145f6638e7d/packages/firebase/useFirestore/index.ts#L94). In contrast, VueFire/VuexFire and my

[2022-05-02 15:38] tmaly1980 commented on #1128
Any progress on this in the last 2 months?

[2022-05-21 10:37] liquidvisual commented on #1136
@ptc-tonyo Is the @next branch no longer available for use? My app relies on big Firebase collections so VueUse would probably kill the performance. I'm thinking of moving to React just because nothing is available right now for Vue 3 :(

[2022-05-21 10:42] Hibrix-net commented on #1136
There is something available, but not official, just see my comment from above.

[2022-05-21 10:45] liquidvisual commented on #1136
@Hibrix-net Cheers, I'll use that for now

[2022-05-21 10:48] liquidvisual commented on #999
Would this fork work with Pinia easily?

[2022-05-21 10:55] Hibrix-net commented on #1136
I'm glad you'll use it. Believe me, this saved my life for now.

[2022-05-21 10:59] Hibrix-net commented on #999
Pinia is not compatible with Vuefire, it is a completely different concept and code. I don't know if there's any Firestore binding possibility for Pinia around there right now.

[2022-05-21 10:59] Hibrix-net commented on #999
Pinia is not compatible with Vuefire, it is a completely different concept and code. I don't know if there's any Firestore binding possibility for Pinia around there right now.

[2022-05-21 11:31] liquidvisual commented on #999
Okay no worries, thanks for your help.

[2022-05-28 19:42] michi88 commented on #1128
How do we feel about making a release for firebase v9 using the `firebase/compat` import?

https://firebase.google.com/docs/web/modular-upgrade#update_imports_to_v9_compat

This would unblock v9 upgrades. Funny enough, even the google project [firebaseui has done this](https://github.com/firebase/firebaseui-web/commit/5e2edbe535e463b18e24a2b35b816294f1a60a58).

I've been trying for a bit but unfor

[2022-05-30 22:50] michi88 commented on #1128
The problem is described here: https://stackoverflow.com/questions/51078974/how-to-have-npm-install-a-typescript-dependency-from-a-github-url

Chosen now to build the `dist` folders after install.

[2022-05-31 03:49] #1173 closed

[2022-06-02 01:30] tohagan commented on #1136
I'm sorry my lib is still in development for now. I'm chipping away at it on my own time and won't release until it's fairly stable.

[2022-06-03 08:29] michi88 commented on #1128
Made a [branch here](https://github.com/michi88/vuefire/commits/firebase9-compat) that can be installed like this in package.json:
[code]

You then need to add this `postinstall` is in your scripts sections to build the package after `npm run install` finishes:

[code]
Then you need to change your imports like this:

[code]
This is the only way I could make it work. If anyone has better ideas, let

[2022-06-03 08:38] Hibrix-net commented on #1128
That could work for Firebase, but the Vuefire/Vuexfire compatibility with Vue 3/Vuex 4 is still needed anyway and in my modest opinion it is more important and urgent. There will be somebody that can take over this fantastic plugin and keep working on it sometimes.

[2022-06-13 09:14] michi88 commented on #1128
@posva could you please let me know if you'd consider releasing a firebase 9 compat version? Because if not, I'll consider releasing separate npm packages as I need this in several projects and installing from source is error prone due to dev environments.

Thanks!

[2022-08-30 09:57] michi88 commented on #1128
@posva could you please let me know, as else I'll release and publish a fork that is compatible with firebase 9. Thanks!

[2022-09-10 23:40] #545 closed

[2022-09-17 11:33] posva commented on #1128
@michi88 I will start working on a new version of Vuefire, compatible with Firebase 9 and more, in the following weeks.

[2022-09-17 12:45] dosstx commented on #1128
Is there a reason to use the VueUse firebase package over this one?

[2022-09-17 21:01] sceee commented on #1128
I would also be interested in knowing what you consider the "best" way forward - whether it will be Vue 3 + Pinia + Firebase 9 (how intergrated in Pinia?) or Vue 3 + vuex + "new" vuexfire (with support for Firebase 9).

[2022-09-17 21:05] liquidvisual commented on #1128
Pinia would be preferred as it's the new default state manager for Vue. Vuex has been put into maintenance mode.

[2022-09-19 14:01] nguyenhoanganhtuan1206 commented on #670
You can try it Object.fromEntries(formData)

[2022-10-13 11:32] posva commented on #1006
Note to myself: document how to have global bindings by using pinia

[2022-10-13 11:42] posva opened #1241 "VueFire Roadmap 2022-2023"
This is an issue to keep track of the upcoming release of VueFire v3. Note this is a **high level roadmap**, more details are added as I complete them and it helps people to get an overview of how things are going.

- Current Status: Stable
- [Documentation](https://vuefire.vuejs.org/)
- [Branch](https://github.com/vuejs/vuefire/tree/main)

## 1st Milestone

Estimate final delivery (means stable r

[2022-10-13 11:45] posva commented on #292
Closing as decorators for vue in terms of typings are being deprecated and there hasn't been any activity.

If anybody publishes a lib, feel free to post it here

[2022-10-13 11:45] #601 closed

[2022-10-13 11:51] posva commented on #1136
Thanks everybody for the feedback 🙏.
Sorry @tohagan I didn't get back to you, I just couldn't find the time but I'm glad you build your own version.

I'm currently migrating the library and I hope to start releasing alphas soon. You can follow the advancement at https://github.com/vuejs/vuefire/issues/1241

[2022-10-13 11:51] #1136 closed

[2022-10-13 11:52] posva commented on #646
The composition API is on the way 🚢  https://github.com/vuejs/vuefire/issues/1241

[2022-10-13 11:52] #646 closed

[2022-10-13 11:53] posva commented on #145
Thanks everybody for the feedback 🙏.

I'm currently migrating the library and I hope to start releasing alphas soon. You can follow the advancement at https://github.com/vuejs/vuefire/issues/1241
I will add things from this issue as I advance

[2022-10-13 11:53] #145 closed

[2022-10-19 17:06] posva commented on #955
Implemented in 76d36f5

[2022-10-28 13:40] songjianet opened #1245 "[Feat][Doc] Are there plans to develop Chinese documentation?"
### What problem is this solving

There are many developers in mainland China using it, so it would be more friendly to have a better Chinese documentation.

### Proposed solution

I am willing to help contribute Chinese documentation.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-10-28 14:34] posva commented on #1245
It's good to know! I don't have plans on writing the documentation in any other language than English (because it's a lot of work already 😄) but feel free to create a fork with the translation and I will be able to link it.

However, note that the current docs are still a very early WIP, so it's not a good idea to start translating them. I would wait at least a month or until a stable version of V

[2022-10-28 14:34] #1245 closed

[2022-11-07 22:05] mmikrut opened #1248 "Retrieving item id in useCollection"
### Reproduction
I modified example in documentation, wanted to retrieve and display todo.id

[code]
### Steps to reproduce the behavior

add {{todo.id}} as per code above

### Expected behavior

expected to see list of IDs & todo text

### Actual behavior

Instead got:
() => snapshot.id  "first todo"
() => snapshot.id  "second todo"

### Additional information

[2022-11-07 22:05] mmikrut opened #1249 "Retrieving item id in useCollection"
### Reproduction
I modified example in documentation, wanted to retrieve and display todo.id

[code]
### Steps to reproduce the behavior

add {{todo.id}} as per code above

### Expected behavior

expected to see list of IDs & todo text

### Actual behavior

Instead got:
() => snapshot.id  "first todo"
() => snapshot.id  "second todo"

### Additional information

[2022-11-07 22:17] posva commented on #1248
This is fixed in main but not released. I should be able to release tomorrow

[2022-11-07 22:17] #1248 closed

[2022-11-07 22:39] mmikrut opened #1250 "Dynamic binding useDocument"
### Reproduction

Was attempting to create form to edit Todos - tried pulling todo item into useDocument dynamically

[code]

### Steps to reproduce the behavior

try above code

### Expected behavior

Expected updTodo to get updated & to be ale to update todo elements after entering document id in docId

### Actual behavior
1. Got error below if docId is empty  eg docId = ref(''). Entering actual

[2022-11-08 08:07] posva commented on #1250
an empty string cannot be used as the id of a document, it has to contain something. If you want to create a new document, you can use `addDoc()` (https://firebase.google.com/docs/firestore/manage-data/add-data), which will give you a document with an id.

Also, note that documents bound with VueFire have their `id` property set so it can be used when updating the document

[2022-11-18 09:18] posva commented on #1162
This should work so if you are still seeing this problem with the latest vuefire@next, please open a new issue with a reproduction or try reproducing it in the playground of the `main` branch

[2022-11-18 09:19] #1162 closed

[2022-11-18 09:27] posva commented on #1025
You need to pass `reset: false` alongside `wait: true`. This is the default in v3

[2022-11-18 09:27] #1025 closed

[2022-11-18 09:32] posva commented on #399
Things have changed in v3 in order to support Vue 2 and Vue 3 at the same time so `this` will only be the component instance with loose typings

[2022-11-18 09:32] #399 closed